@use '../../styles/style.scss' as *;

.form-container{
    @include grid-center;
    // width: 80%;
    // margin: 2rem auto;
    height: 80vh;

    .form{
        // @include form;
        width: 400px;
        background-color: $tertiary-color;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: $form-shadow;
        @include responsive(mobileL){
            width: 90vw;
            padding: 1rem;
            margin: 0 8px;
        }

        h2 > span{
            font-size: 22px;
            margin-left: 4px;
            background: -webkit-radial-gradient(ellipse farthest-corner at center center, #e6505061 0%, var(--color-primary) 100%);
            background: -moz-radial-gradient(ellipse farthest-corner at center center, #e6505061 0%, var(--color-primary) 100%);
            background: radial-gradient(ellipse farthest-corner at center center, #e6505061 0%, var(--color-primary) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .input-field{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 8px auto;

            label{
                font-size: 12px;
                font-weight: 600;
            }

            input{
                height: 30px;
                width: 100%;
                padding: 4px 4px 4px 8px;
                border-radius: 5px;
                border: none;
                outline: none;
            }
        }
        input[type='submit']{
            @include button
        }
        
        p{
            text-align: center;
            margin-top: 6px;

            a{
                color: var(--color-primary);
                font-size: 13px;
                font-weight: 600;
                text-decoration: underline;
            }
        }
    }
}