@use '../../styles/style.scss' as *;

.divider{
    position: relative;
    margin: 2rem 0;

    hr{
        background-color: $primary-color;
        height: 1px;
        border: none;
    }

    p{
        position: absolute;
        top: -16px;
        left: 45%;
        height: 40px;
        width: 40px;
        background: $tertiary-color;
        font-weight: 600;
    }
}

input[type="number"]::-webkit-inner-spin-button{
    display: none;
}
input[type=number]{
    -moz-appearance: textfield;
}