//FONT
$font-header: 'Newsreader', serif;
$font-family: "Poppins", sans-serif;
$font-family-text: "Fauna One", sans-serif;

//COLORS
$primary-bgColor: #2a3447;
$secondary-bgColor: #384256;
$sidebar-bgColor: #efefef;

$primary-color: #e65050;
$secondary-color: #e6505066;
$tertiary-color: #facfaf;
$dark-primary: #292929;

$button-primary: #e65050;
$button-secondary: #000;
$disabled-button: #b7b7b7;

$star-primary: #e59819;
$star-light: #f3ca8c;

$form-shadow: 1px 1px 4px 1px #8b8b8b;

//FONT-SIZE
$text-size: 14px;
$text-heading: 20px;
$subheading-text: 16px;

// Responsive sizes
$mobileS: 320px;
$mobileL: 425px;
$tabletS: 600px;
$tabletL: 768px;
$laptop: 992px;