@use './abstracts/variables' as *;
@use './abstracts/responsive' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: $font-family;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1{
  font-family: $font-header;
  font-weight: 700;
  font-size: 2.3rem;
  @include responsive(mobileL){
    font-size: 1.8rem;
    line-height: 1.4;
  }
}

a,
p,
li,
span,
input[type="text"] {
  font-size: $text-size;
}
input[type="radio"] {
  accent-color: $primary-color;
}
table{
  width: 100%;
  text-align: left;
}
th{
  text-decoration: underline;
  @include responsive(mobileL){
    font-size: 12px;
  }
}

button,
input[type="button"] {
  cursor: pointer;
}

.container {
  min-height: calc(100vh - 150px - 4rem);
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  @include responsive(tabletL){
    width: 98%;
  }
}

.course-section__heading{
  margin-bottom: 1rem;
}

.star-icon{
  color: $star-primary;
  @include responsive(tabletS){
    height: 10px;
  }
}

.star-icon--light{
  color: $star-light;
}

.course-tag{
  padding: 0px 6px;
  font-size: 13px;
  background-color: #eceb98;
  font-weight: bold;
  color: #000;
  @include responsive(tabletS){
    font-weight: 500;
    font-size: 12px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border: 1px solid #fff;
  border-radius: 50px;
}

.empty-content{
  display: grid;
  place-items: center;
  grid-template-columns: none;
  width: 100%;
  height: 40vh;
  color: #adadad;
  text-align: center;
  line-height: 1.3;
}

.enrolled-text{
  font-weight: 600;
  color: $primary-color;
}

//react-modal styles
.ReactModal{
  height: 100vh;
  width: 100vw;
}

.ReactModal__Content{
  width: 60vw;
  margin: auto;
  @include responsive(tabletL){
    width: 90vw;
  }
}

.ReactModal__Overlay{
  background-color: rgba(40,40,40, 0.9) !important;
  z-index: 999;
}

//slick styles
.slick-arrow{
  display: none !important;

  ::before{
    display: none;
  }
}

.slick-dots{
  bottom: 25px !important;
  @include responsive(tabletS){
    bottom: 1px !important;
  }
}

.slick-dots li button:before{
  font-size: 15px !important;
  color: $primary-color !important;
}

//swal styles
.swal2-confirm{
  background-color: $primary-color !important;
}

.swal2-info{
  color: $primary-color !important;
  border-color: $primary-color !important;
}

.swal2-html-container{
  font-size: 14px !important;
}

.MuiDataGrid-root{
  @include responsive(laptop){
    width: 100%;
  }
}

//pagination styles
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 3rem 0 1rem;

  .page-link{
    cursor: pointer;
    height: 35px;
    min-width: 35px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    &:hover{
      color: $primary-color;
    }
  }
  // .page-link{
  //   border-radius: 50%;
  //   background-color: #ececec;
  // }

  .disabled{
    cursor: no-drop;
  }

  input[type='submit']:disabled{
    background-color: $disabled-button;
  }

  .course-pagenumber{
    display: flex;
    gap: 1rem;

    .active{
      color: #fff;
      background-color: $primary-color;
    }
  }

}
.per_page-count{
  font-size: 13px;
  color: grey;
  font-weight: 500;
  text-align: center;
}

